.main-container-maps {
    text-align: center;
    width: 412px;
    margin: 0 auto;
}   

.btn-section a {
    text-align: center;
    height: 50px;
    width: 200px;
    margin: 10px;   
    display: block;
}
