h1 {
    font-size: 2em;
}

span {
    color: blueviolet;
}

.btn-section-index a {
    border-radius: 7px;
    line-height: 125px;
    place-items: start;
    place-self: start;
    height: 150px;
    margin: 10px;
    display: block;
}
