#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 70vh;
    /* The width is the width of the web page */
}

.btn {
    padding: 10px;
    border: 1px solid #7B1FA2;
    color: #7B1FA2;
    background-color: transparent;
    font-weight: bold;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: #7B1FA2;
    cursor: pointer;
    color: #f4f4f4;
}

h1 {
    color: #625c5c;
}
