#map {
    height: 450px;
    margin: 30px;
}

.main-section-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-section {
    border: 1px solid #ececec;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 400px;
    height: 640px;
    background-color: #f4f4f4;
}

.btn {
    line-height: 30px;
    padding: 10px;
    border: 1px solid #7B1FA2;
    color: #7B1FA2;
    background-color: transparent;
    font-weight: bold;
    transition-duration: 0.5s;
}

.btn:hover {
    background-color: #7B1FA2;
    cursor: pointer;
    color: #f4f4f4;
}

.btn-back-home {
    line-height: 30px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    color: #625c5c;
    background-color: #ececec70;
    font-weight: bold;
    transition-duration: 0.5s;
}

.btn-back-home:hover {
    background-color: #ececec;
    cursor: pointer;
    text-decoration: underline;
}

.btn-loc {
    background-color: #d7d7d79c;
    border: none;
    margin-top: 10px;
    padding: 15px;
}

.btn-loc:hover {
    background-color: #d7d7d7;
    text-decoration: underline;
}

@media screen and (min-width: 769px) {
    .box-section {
        width: 640px;
        height: 640px;
    }
}